<div><ng4-loading-spinner> </ng4-loading-spinner></div>
<div class="main-content" style="margin-top: 25px;">
    <ul class="breadcrumb">
        <li outerLinkActive="active">
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="active">Banner List</li>
    </ul>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Banner</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                            <table class="table">
                                    <thead class=" text-primary">
                                        <tr>	                    
                                            <th>#</th>
                                            <th>Banner</th>
                                            <th>Actions</th>	                    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let item of categories | paginate: { id: 'listing_pagination',
                                        itemsPerPage: 10,
                                        currentPage: page,
                                        totalItems: totalRec }">
                                                <td>{{item.id || ' - '}}</td>
                                                <td>{{item.name || ' - '}}</td>
                                                <td>{{item.imageName || ' - '}}</td>
                                                <td><img src="{{imageUrlFormater(item.imagePath)}}" height="100" width="100"></td>
                                                <td class="td-actions text-center">
                                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                        </tr> -->
                                     </tbody>
                            </table>   
                            <!-- <div>
                                <pagination-controls  id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event"
                                autoHide="true"
                                responsive="true"
                                previousLabel=""
                                nextLabel=""
                                style="text-align: right;"></pagination-controls>
                            </div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
